.full-header{
    position: fixed;
    top: -80px;
    left: 0;
    width: 100%;
    z-index: 99;
    transition: top 0.1s ease-in-out;
}

.visible{
     top: 0;
}

.outer{
    display: flex;
    justify-content: space-between;
    background: #333; 
    color: white; 
    padding: 10px;
    margin: 0;
}

.left-controls{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.left-controls button {
    background: #333;
    color: white;
    border: none;
    margin-right: 20px;
    padding: 8px;
    cursor: pointer;
    transition: background 0.2s ease-in-out;
}
  
.left-controls button:hover {
    background: #444; 
}
  
.left-controls button:focus {
    outline: blueviolet;
    box-shadow: none; 
}
  

.right-controls{
    display: flex;
    align-items: center;
}

.right-controls button {
    background: #333;
    color: white;
    border: none;
    margin-left: 10px;
    padding: 8px;
    cursor: pointer;
    transition: background 0.2s ease-in-out;
}
  
.right-controls button:hover {
    background: #444; 
}
  
.right-controls button:focus {
    outline: blueviolet;
    box-shadow: none; 
}
  